.navBar {
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9.7rem;
}

.toHome,
.logOn,
.cartBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.toHome {
    height: 9.7rem;
    width: auto;
}

.logOnCart {
    display: flex;
    align-items: center;
}

.logOn {
    border: 0.1rem solid var(--secondary);
    border-radius: 1rem;
    height: 4rem;
    width: 15rem;
    margin-right: 2rem;
    text-transform: uppercase;
}

.cartBtn {
    background-color: transparent;
    height: 6rem;
}